table td{
    background-color:white
    
}

.jaune{
    background-color: yellow;
}

.gris{
    background-color: grey;
}

.noir{
    background-color: black;
}

.blanc{
    background-color: white;
}

.bleu{
    background-color: blue;
}